n8n/evolution_havoc_workflow.json
{
  "name": "Evolution Havoc",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "evolution-havoc",
        "methods": [
          "POST"
        ],
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "Webhook_evolutionhavoc",
      "name": "Webhook Evolution Havoc",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = $input.first().json; const contact = data.contact || {}; let phone = (contact.identifier || contact.phone_number || \"\").split(\"@\")[0].replace(/\\D/g, \"\"); const message_content = data.content || \"\"; if (!phone) return []; return [{ json: { phone, name: contact.name || \"Cliente\", contact_id: contact.id, message: message_content, event: data.event } }];"
      },
      "id": "ProcessEvent",
      "name": "Processar Evento",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        200,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS contacts (id SERIAL PRIMARY KEY, phone VARCHAR(20) UNIQUE NOT NULL, name VARCHAR(255), chatwoot_contact_id BIGINT, current_step VARCHAR(50) DEFAULT 'inicio', is_first_contact BOOLEAN DEFAULT TRUE, created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW()); CREATE TABLE IF NOT EXISTS messages (id SERIAL PRIMARY KEY, contact_phone VARCHAR(20) REFERENCES contacts(phone), role VARCHAR(10), content TEXT, created_at TIMESTAMPTZ DEFAULT NOW());"
      },
      "id": "EnsureTablesNew",
      "name": "Garantir Tabelas (Memória)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        420,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM contacts WHERE phone = '{{$json.phone}}';"
      },
      "id": "SelectContact",
      "name": "Buscar Contato (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        640,
        150
      ]
    },
    {
      "parameters": {
        "functionCode": "const rows = $input.first().json || []; let row = Array.isArray(rows) ? rows[0] : rows; row = row || {}; const id = row.id || \"\"; const current_step = row.current_step || \"inicio\"; const is_first_contact = row.is_first_contact !== false; const name = row.name || $json.name; const phone = $json.phone; const contact_id = $json.contact_id; const message = $json.message; return { id, current_step, is_first_contact, name, phone, contact_id, message };"
      },
      "id": "ParseContactRow",
      "name": "Parse Contato (DB)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        840,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS cnt FROM messages WHERE contact_phone = '{{$json.phone}}';"
      },
      "id": "CountMessages",
      "name": "Contagem de Mensagens",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1040,
        260
      ]
    },
    {
      "parameters": {
        "functionCode": "const rows = $input.first().json || []; let row = Array.isArray(rows) ? rows[0] : rows; const cnt = Number((row && (row.cnt ?? row.count)) || 0); return { phone: $json.phone, current_step: $json.current_step, hasConversation: cnt > 0 };"
      },
      "id": "ParseCountMessages",
      "name": "Parse Contagem",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1240,
        260
      ]
    },
    {
      "parameters": {
        "functionCode": "const current = $json.current_step || 'inicio'; const hasConv = !!$json.hasConversation; const needsWelcome = (current === 'finalizado') || (!hasConv); return { phone: $json.phone, current_step: current, needsWelcome };"
      },
      "id": "DecideWelcomeFlag",
      "name": "Decidir Boas-vindas",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1440,
        260
      ]
    },
    {
      "parameters": {
        "value1": "={{$json.needsWelcome}}",
        "conditions": {
          "boolean": {
            "true": true
          }
        }
      },
      "id": "SwitchNeedsWelcome",
      "name": "Precisa Boas-vindas?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1640,
        260
      ]
    },
    {
      "parameters": {
        "value1": "={{$json.id}}",
        "conditions": {
          "string": {
            "equal": [
              ""
            ]
          }
        }
      },
      "id": "IfNewContact",
      "name": "Contato é novo?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1040,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contacts (phone, name, chatwoot_contact_id, current_step, is_first_contact) VALUES ('{{$json.phone}}', '{{$json.name}}', {{$json.contact_id}}, 'inicio', TRUE) ON CONFLICT (phone) DO UPDATE SET name=EXCLUDED.name, chatwoot_contact_id=EXCLUDED.chatwoot_contact_id, updated_at=NOW();"
      },
      "id": "InsertContact",
      "name": "Inserir Contato (DB)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1240,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (contact_phone, role, content) VALUES ('{{$json.phone}}', 'user', '{{$json.message}}');"
      },
      "id": "InsertUserMessage",
      "name": "Salvar Mensagem do Usuário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1240,
        80
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$vars.EVOLUTION_URL}}/message/sendText/{{$vars.EVOLUTION_INSTANCE}}",
        "jsonParameters": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{$vars.EVOLUTION_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "{\"number\":\"={{$json.phone}}\",\"textMessage\":{\"text\":\"Bem-vindo! Vamos começar. Escolha uma opção abaixo ou envie sua dúvida.\"}}"
      },
      "id": "SendWelcome",
      "name": "Enviar Boas-vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1440,
        220
      ]
    },
    {
      "parameters": {
        "value1": "={{$json.current_step}}",
        "conditions": {
          "string": {
            "equal": [
              "inicio",
              "aguardando_resposta",
              "aguardando_pix"
            ]
          }
        }
      },
      "id": "SwitchStep",
      "name": "Decisão por Etapa",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1240,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (contact_phone, role, content) VALUES ('{{$json.phone}}', 'assistant', 'Bot enviou opções.');"
      },
      "id": "InsertAssistantMessageButtons",
      "name": "Log Mensagem Assistente (Botões)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1640,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contacts SET current_step = 'aguardando_resposta', is_first_contact = FALSE, updated_at = NOW() WHERE phone = '{{$json.phone}}';"
      },
      "id": "UpdateStepAguardandoResposta",
      "name": "Atualizar Etapa (aguardando_resposta)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1840,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM messages WHERE contact_phone = '{{$json.phone}}' ORDER BY created_at DESC LIMIT 6;"
      },
      "id": "FetchLast6Messages",
      "name": "Carregar Últimas 6 Mensagens",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2040,
        80
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = $input.first().json;\nlet phone = null;\ntry {\n  const raw = data?.data?.key?.remoteJid || data?.remoteJid || '';\n  phone = (raw.split('@')[0] || '').replace(/\\D/g, '');\n} catch (e) {}\nif (!phone) return null;\nreturn { phone, data };"
      },
      "id": "ExtractContact",
      "name": "Extrair Contato",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS contacts (id SERIAL PRIMARY KEY, phone VARCHAR(20) UNIQUE NOT NULL, chatwoot_contact_id BIGINT, created_at TIMESTAMPTZ DEFAULT NOW()); CREATE TABLE IF NOT EXISTS conversations (id SERIAL PRIMARY KEY, contact_id INTEGER NOT NULL REFERENCES contacts(id), chatwoot_conversation_id BIGINT UNIQUE, last_message_at TIMESTAMPTZ DEFAULT NOW(), status VARCHAR(20) DEFAULT 'open', created_at TIMESTAMPTZ DEFAULT NOW());"
      },
      "id": "EnsureTables",
      "name": "Garantir Tabelas (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        520,
        40
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{'contact:' + $json.phone}}"
      },
      "id": "RedisGetContact",
      "name": "Redis Get Contato",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        650,
        40
      ]
    },
    {
      "parameters": {
        "functionCode": "const val = $input.first().json?.value ?? $json.value ?? null;\nlet cached = false, contactId = null, conversationId = null;\nif (val) {\n  try { const obj = JSON.parse(val); cached = true; contactId = obj.contactId || null; conversationId = obj.conversationId || null; } catch(e) {}\n}\nreturn { phone: $json.phone, cached, contactId, conversationId };"
      },
      "id": "ParseRedisContact",
      "name": "Parse Redis Contato",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        40
      ]
    },
    {
      "parameters": {
        "value1": "={{$json.cached}}",
        "conditions": {
          "string": {
            "equal": [
              "true",
              "false"
            ]
          }
        }
      },
      "id": "SwitchContactCached",
      "name": "Contato em Cache?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        980,
        40
      ]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{$vars.CHATWOOT_URL}}/api/v1/accounts/{{$vars.CHATWOOT_ACCOUNT_ID}}/contacts/search",
        "jsonParameters": true,
        "queryParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "={{$json.phone}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{$vars.CHATWOOT_API_ACCESS_TOKEN}}"
            }
          ]
        }
      },
      "id": "FindContact",
      "name": "Buscar Contato (Chatwoot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        650,
        150
      ]
    },
    {
      "parameters": {
        "functionCode": "const res = $input.first().json;\nconst phone = $prevNode.output[0].json.phone || $json.phone;\nlet contactId = null;\nlet contactExists = false;\ntry {\n  if (Array.isArray(res) && res.length > 0) {\n    contactExists = true;\n    contactId = res[0].id;\n  }\n} catch(e) {}\nreturn { phone, contactExists, contactId };"
      },
      "id": "ParseContact",
      "name": "Parse Contato",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        850,
        150
      ]
    },
    {
      "parameters": {
        "value1": "={{$json.contactExists}}",
        "conditions": {
          "string": {
            "equal": [
              "true",
              "false"
            ]
          }
        }
      },
      "id": "SwitchContactExists",
      "name": "Contato Existe?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1050,
        150
      ]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{$vars.CHATWOOT_URL}}/api/v1/accounts/{{$vars.CHATWOOT_ACCOUNT_ID}}/contacts/{{$json.contactId}}/conversations",
        "jsonParameters": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{$vars.CHATWOOT_API_ACCESS_TOKEN}}"
            }
          ]
        }
      },
      "id": "GetConversations",
      "name": "Conversas do Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1250,
        100
      ]
    },
    {
      "parameters": {
        "functionCode": "const res = $input.first().json;\nconst phone = $prevNode.output[0].json.phone || $json.phone;\nconst contactId = $prevNode.output[0].json.contactId || $json.contactId;\nlet conversationId = null;\nlet hasConversation = false;\ntry {\n  if (Array.isArray(res) && res.length > 0) {\n    hasConversation = true;\n    conversationId = res[0].id;\n  }\n} catch(e) {}\nreturn { phone, contactId, hasConversation, conversationId };"
      },
      "id": "ParseConversations",
      "name": "Parse Conversas",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1450,
        100
      ]
    },
    {
      "parameters": {
        "value1": "={{$json.hasConversation}}",
        "conditions": {
          "string": {
            "equal": [
              "true",
              "false"
            ]
          }
        }
      },
      "id": "SwitchHasConversation",
      "name": "Já tem conversa?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1650,
        100
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$vars.CHATWOOT_URL}}/api/v1/accounts/{{$vars.CHATWOOT_ACCOUNT_ID}}/contacts",
        "jsonParameters": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{$vars.CHATWOOT_API_ACCESS_TOKEN}}"
            }
          ]
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone_number",
              "value": "={{$json.phone}}"
            },
            {
              "name": "name",
              "value": "={{$json.phone}}"
            }
          ]
        }
      },
      "id": "CreateContact",
      "name": "Criar Contato (Chatwoot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1250,
        220
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$vars.CHATWOOT_URL}}/api/v1/accounts/{{$vars.CHATWOOT_ACCOUNT_ID}}/conversations",
        "jsonParameters": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{$vars.CHATWOOT_API_ACCESS_TOKEN}}"
            }
          ]
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "inbox_id",
              "value": "={{$vars.CHATWOOT_INBOX_ID}}"
            },
            {
              "name": "contact_id",
              "value": "={{$json.contactId}}"
            }
          ]
        }
      },
      "id": "CreateConversationExisting",
      "name": "Criar Conversa (Contato existente)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1850,
        180
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$vars.CHATWOOT_URL}}/api/v1/accounts/{{$vars.CHATWOOT_ACCOUNT_ID}}/conversations",
        "jsonParameters": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{$vars.CHATWOOT_API_ACCESS_TOKEN}}"
            }
          ]
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "inbox_id",
              "value": "={{$vars.CHATWOOT_INBOX_ID}}"
            },
            {
              "name": "contact_id",
              "value": "={{$json.id}}"
            }
          ]
        }
      },
      "id": "CreateConversationNew",
      "name": "Criar Conversa (Contato novo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const phone = $json.phone || ($prevNode.output[0]?.json?.phone);\nconst contactId = $json.contactId || $json.id;\nconst conversationId = $json.conversationId || $json.id;\nconst store = this.getWorkflowStaticData('global');\nstore.contacts = store.contacts || {};\nif (phone) {\n  store.contacts[phone] = { contactId, conversationId };\n}\nreturn { phone, contactId, conversationId };"
      },
      "id": "PersistIds",
      "name": "Persistir IDs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2050,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contacts (phone, chatwoot_contact_id) VALUES ('{{$json.phone}}', {{$json.contactId}}) ON CONFLICT (phone) DO UPDATE SET chatwoot_contact_id = EXCLUDED.chatwoot_contact_id RETURNING id;"
      },
      "id": "PostgresUpsertContact",
      "name": "Upsert Contato (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2250,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (contact_id, chatwoot_conversation_id, status) VALUES ((SELECT id FROM contacts WHERE phone = '{{$json.phone}}'), {{$json.conversationId}}, 'open') ON CONFLICT (chatwoot_conversation_id) DO UPDATE SET contact_id = EXCLUDED.contact_id, status='open' RETURNING id;"
      },
      "id": "PostgresUpsertConversation",
      "name": "Upsert Conversa (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2450,
        180
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{'contact:' + $json.phone}}",
        "value": "={{JSON.stringify({contactId: $json.contactId, conversationId: $json.conversationId})}}",
        "ttl": 86400
      },
      "id": "RedisSetContact",
      "name": "Redis Set Contato",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2650,
        180
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = $input.first().json;\nif (data.data && data.data.message && data.data.message.buttonsResponseMessage) {\n  const buttonData = data.data.message.buttonsResponseMessage;\n  return {\n    phone: data.data.key.remoteJid.replace(/@s\\.whatsapp\\.net/, ''),\n    buttonId: buttonData.selectedButtonId,\n    buttonText: buttonData.selectedDisplayText,\n    timestamp: data.data.messageTimestamp,\n    instance: data.instance,\n    fullData: data\n  };\n}\nreturn null;"
      },
      "id": "ProcessButtons",
      "name": "Processar Respostas de Botões",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "value1": "={{$json.buttonId}}",
        "conditions": {
          "string": {
            "equal": [
              "opt1",
              "opt2",
              "opt3"
            ]
          }
        }
      },
      "id": "SwitchButton",
      "name": "Switch Botão",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$vars.EVOLUTION_URL}}/message/sendButtons/{{$vars.EVOLUTION_INSTANCE}}",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{$vars.EVOLUTION_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "{\"number\":\"={{$json.phone}}\",\"options\":{\"delay\":1200,\"presence\":\"composing\",\"mentions\":{\"everyOne\":false},\"useNumber\":true},\"buttons\":{\"body\":{\"text\":\"Escolha uma opção abaixo:\"},\"buttons\":[{\"buttonId\":\"opt1\",\"buttonText\":{\"displayText\":\"Sim, quero\"}},{\"buttonId\":\"opt2\",\"buttonText\":{\"displayText\":\"Nao, obrigado\"}},{\"buttonId\":\"opt3\",\"buttonText\":{\"displayText\":\"Mais informacoes\"}}]}}"
      },
      "id": "SendButtons",
      "name": "Enviar Botões",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        500,
        550
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$vars.EVOLUTION_URL}}/message/sendText/{{$vars.EVOLUTION_INSTANCE}}",
        "jsonParameters": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{$vars.EVOLUTION_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "{\"number\":\"={{$json.phone}}\",\"textMessage\":{\"text\":\"Otima escolha! Voce selecionou SIM.\\n\\nEm que posso te ajudar?\\n\\n1) Agendar servico\\n2) Consultar precos\\n3) Falar com atendente\"}}"
      },
      "id": "SendTextOpt1",
      "name": "Resposta opt1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1100,
        220
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$vars.EVOLUTION_URL}}/message/sendText/{{$vars.EVOLUTION_INSTANCE}}",
        "jsonParameters": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{$vars.EVOLUTION_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "{\"number\":\"={{$json.phone}}\",\"textMessage\":{\"text\":\"Tudo bem! Se mudar de ideia, estarei aqui.\\n\\nTenha um otimo dia!\"}}"
      },
      "id": "SendTextOpt2",
      "name": "Resposta opt2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$vars.EVOLUTION_URL}}/message/sendText/{{$vars.EVOLUTION_INSTANCE}}",
        "jsonParameters": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{$vars.EVOLUTION_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "{\"number\":\"={{$json.phone}}\",\"textMessage\":{\"text\":\"Claro! Aqui estao mais informacoes:\\n\\n- Servico X: R$ 100\\n- Servico Y: R$ 200\\n- Servico Z: R$ 300\\n\\nDeseja mais detalhes de algum?\"}}"
      },
      "id": "SendTextOpt3",
      "name": "Resposta opt3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1100,
        380
      ]
    }
  ],
  "connections": {
    "Webhook Evolution Havoc": {
      "main": [
        [
          {
            "node": "Processar Evento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Garantir Tabelas (Memória)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Carregar Últimas 6 Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Evento": {
      "main": [
        [
          {
            "node": "Garantir Tabelas (Memória)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Garantir Tabelas (Memória)": {
      "main": [
        [
          {
            "node": "Buscar Contato (DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contato (DB)": {
      "main": [
        [
          {
            "node": "Parse Contato (DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contato (DB)": {
      "main": [
        [
          {
            "node": "Contato é novo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato é novo?": {
      "main": [
        [
          {
            "node": "Inserir Contato (DB)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contagem de Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contagem de Mensagens": {
      "main": [
        [
          {
            "node": "Parse Contagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contagem": {
      "main": [
        [
          {
            "node": "Decidir Boas-vindas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decidir Boas-vindas": {
      "main": [
        [
          {
            "node": "Precisa Boas-vindas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa Boas-vindas?": {
      "main": [
        [
          {
            "node": "Enviar Boas-vindas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Botões",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualizar Etapa (aguardando_resposta)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Mensagem Assistente (Botões)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decisão por Etapa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Contato (DB)": {
      "main": [
        [
          {
            "node": "Salvar Mensagem do Usuário",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Boas-vindas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Decisão por Etapa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão por Etapa": {
      "main": [
        [
          {
            "node": "Enviar Botões",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Mensagem Assistente (Botões)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualizar Etapa (aguardando_resposta)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Botões",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Mensagem Assistente (Botões)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualizar Etapa (aguardando_resposta)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Botões",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Mensagem Assistente (Botões)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualizar Etapa (aguardando_resposta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contato (Chatwoot)": {
      "main": [
        [
          {
            "node": "Parse Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contato (Chatwoot)": {
      "main": [
        [
          {
            "node": "Parse Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contato": {
      "main": [
        [
          {
            "node": "Contato Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato Existe?": {
      "main": [
        [
          {
            "node": "Conversas do Contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Contato (Chatwoot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversas do Contato": {
      "main": [
        [
          {
            "node": "Parse Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Conversas": {
      "main": [
        [
          {
            "node": "Já tem conversa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já tem conversa?": {
      "main": [
        [
          {
            "node": "Persistir IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Conversa (Contato existente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Conversa (Contato existente)": {
      "main": [
        [
          {
            "node": "Persistir IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Contato (Chatwoot)": {
      "main": [
        [
          {
            "node": "Criar Conversa (Contato novo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Conversa (Contato novo)": {
      "main": [
        [
          {
            "node": "Persistir IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistir IDs": {
      "main": [
        [
          {
            "node": "Enviar Botões",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Contato (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contato (Postgres)": {
      "main": [
        [
          {
            "node": "Upsert Conversa (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversa (Postgres)": {
      "main": [
        [
          {
            "node": "Redis Set Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Respostas de Botões": {
      "main": [
        [
          {
            "node": "Switch Botão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Botão": {
      "main": [
        [
          {
            "node": "Resposta opt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta opt2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta opt3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
